

      <footer class="footer">
       <div class="container">
         <p class="text-muted">Copyright &copy; 2016 &middot; Doggie Funz Inc</p>
       </div>
      </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
