<% include partials/header %>



<div class="container">
  <div class="row">
    <div class="jumbotron text-center">
      <h1>Welcome To DoggieFunz</h1>
      <h3>Because dogs are fun...</h3>
      <p><a href="/dogs" class="btn btn-primary btn-lg">View Dogs</a></p>
    </div>
  </div>
</div>


<% include partials/footer %>
